<!-- This wrapper gives full-width background -->
<section class="intro-wrapper">
  <div class="container"> <!-- optional: keep it for padding -->
    <div class="row">
    
      <!-- Left Column - Text Section -->
      <div class="col-md-8">
        <div class="mainTitle">
          <p class="p01">Hello! I'm,</p>
          <p class="p02">Mateen <span class="text">Ataar</span></p>
          <div class="txtcontent">
            <span class="text-white">I'm a&nbsp;</span>
            <ul class="changetxt">
              <li class="list01">Front End Developer</li>
            </ul>
          </div>
        </div>
        <div class="contact-btn mt-4">
          <a class="btn" href="./assets/images/my resume.pdf" target="_blank">
            Download CV
          </a>
        </div>
      </div>

      <!-- Right Column - Image Section -->
      <div class="col-md-4">
        <figure class="photo">
          <img
            src="assets/images/myResumePhoto.jpg"
            alt="Mateen Ataar"
            title="Mateen Ataar"
          />
        </figure>
      </div>
    </div>
  </div>
</section>





