<!-- ######### HTML FOR EDUCATION AND EXPERIENCE SECTION ######## -->

<section class="work" id="work">
  <div class="container">
    <div class="row">
      <!-- Work Experience -->
      <div class="col-12 col-md-6" data-aos="fade-right">
        <header class="title mt-4 mt-md-0">
          <h2>WORK EXPERIENCE</h2>
        </header>
        <div class="contents">
          <div class="box">
            <!-- <h4>2023 - Present</h4> -->
            <!-- <h3>OSSS Consulting Services Pvt Ltd</h3> -->
            <h3>Trillion Apps Technology Pvt Ltd</h3>
            <p>Front-End Angular Developer.</p>
            <ul>
              <li>
                Worked on front-end development for E-commerce web applications using Angular.
              </li>
              <li>
               Built reusable Angular components, modules, pipes, and directives based on project requirements.
              </li>
              <li>
               Created responsive and user-friendly designs for desktop, tablet, and mobile screens.
              </li>
                <li>
               Integrated APIs and improved application performance for better user experience.
              </li>
                <li>
               Worked with backend and UI/UX teams to deliver project features on time.
              </li>
            </ul>
          </div>

          <div class="box">
            <!-- <h4>2023 - Present</h4> -->
            <!-- <h3>OSSS Consulting Services Pvt Ltd</h3> -->
            <h3>Trillion Apps Technology Pvt Ltd</h3>

            <p>Front End UI Developer (Experience)</p>
            <ul>
              <li>Converted PSD/Figma designs into responsive web pages using HTML, CSS, Bootstrap, and Angular.</li>
              <li>
               Developed responsive applications for desktop and mobile devices.
              </li>
              <li>
                Added interactive UI features using JavaScript, TypeScript, and jQuery.
              </li>
              <li>
                Fixed UI issues and supported the team in resolving frontend bugs.
              </li>
               <li>
                Learned and worked with the latest Angular and frontend development features.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="col-12 col-md-6" data-aos="fade-right">
        <header class="title">
          <h2>EDUCATION</h2>
        </header>
        <div class="contents">
          <div class="box">
            <h4>2018 - Appearing</h4>
            <h3>Bachelor's of Computer Application</h3>
            <p class="text-capitalize">Maharashtra Udayagiri Mahavidyalaya, Udgir</p>
            <ul>
              <li>
                BCA student with
                Grade: <strong>A</strong>.
              </li>
              <li>
                Completed technical skills in HTML5, CSS , CSS3, JavaScript, TypeScript,
                Angular, Angular Material, Bootstrap,Tailwind etc.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
