<!-- ######### HTML FOR EDUCATION AND EXPERIENCE SECTION ######## -->

<section class="work" id="work">
  <div class="container">
    <div class="row">
      <!-- Work Experience -->
      <div class="col-12 col-md-6" data-aos="fade-right">
        <header class="title mt-4 mt-md-0">
          <h2>WORK EXPERIENCE</h2>
        </header>
        <div class="contents">
          <div class="box">
            <!-- <h4>2023 - Present</h4> -->
            <h3>OSSS Consulting Services Pvt Ltd</h3>
            <p>Front-End Angular Developer.</p>
            <ul>
              <li>
                Led the front-end development for an E-commerce domain,
                ensuring a seamless and user-friendly experience.
              </li>
              <li>
                Implemented responsive design for all screen sizes using
                best practices.
              </li>
              <li>
                Built Angular modules, components, pipes, and directives
                based on business needs.
              </li>
            </ul>
          </div>

          <div class="box">
            <!-- <h4>2023 - Present</h4> -->
            <h3>OSSS Consulting Services Pvt Ltd</h3>
            <p>Front End UI Developer (Experience)</p>
            <ul>
              <li>Converted PSD to responsive HTML using Bootstrap 3.</li>
              <li>
                Developed apps for desktop and mobile, resolved team-raised issues.
              </li>
              <li>
                Implemented UI interactions using JavaScript and jQuery plugins.
              </li>
              <li>
                Continuously learned latest Angular and frontend advancements.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="col-12 col-md-6" data-aos="fade-right">
        <header class="title">
          <h2>EDUCATION</h2>
        </header>
        <div class="contents">
          <div class="box">
            <h4>2018 - Appearing</h4>
            <h3>Bachelor's of Computer Application</h3>
            <p class="text-capitalize">Maharashtra Udayagiri Mahavidyalaya, Udgir</p>
            <ul>
              <li>
                BCA student with
                Grade: <strong>A</strong>.
              </li>
              <li>
                Completed technical skills in HTML5, CSS , CSS3, JavaScript, TypeScript,
                Angular, Angular Material, Bootstrap,Tailwind etc.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
